<div class="row">
  <div class="col-12 col-sm-8">

    <h5 class="mb-3">{{heading}}</h5>

    <div class="card p-3">
      <div class="card-block">

        <table class="table">
          <thead class="thead-light">
            <tr>
              <th>Created by</th>
              <th>Title</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let note of notes" routerLink="/read" routerLinkActive="active">
              <td scope="row">{{note[0]}}</td>
              <td>{{note[1]}}</td>
              <td>{{note[5] | date: 'dd/MM/yy @ HH:mm'}}</td>
            </tr>

          </tbody>
        </table>

        <button class="btn main" routerLink="/create" routerLinkActive="active">Create a new note ></button>

      </div>
    </div>

  </div>
</div>
